@import "../styles/assets/variables";


.container {
margin: 0 auto;
max-width: 750px;
padding: 1rem;

display: flex;
flex-direction: column;
min-height: 100vh;
color: #fff;

}

.column {
float: left;
width: 33.3%;
margin-bottom: 16px;
}

.card {
box-shadow: 0 4px 8px 0 rgba(65, 46, 46, 0.5);
margin: 8px;
border-radius: 5%;
    img {
        border-radius: 5%;
    }
}

.about-section {
padding: 50px;
text-align: center;
color: white;


    .circle1 {
        content: '';
        position: absolute;
        right: 0;
        top: 100px;
        width: 500px;
        height: 500px;
        background: $g-02;
        border-radius: 50%;
        z-index: -2;
            &::after {
                content: '';
                position: absolute;
                left: -85%;
                bottom: 0px;
                width: 500px;
                height: 500px;
                background: $g-01-02;
                border-radius: 50%;
                z-index: -3;
            }
    }
    .circle2 {
        content: '';
        position: absolute;
        left: 0;
        top: 100px;
        width: 500px;
        height: 500px;
        background: $g-01;
        border-radius: 50%;
        z-index: -1;
    }
}

.containerTeam {
padding: 0 16px;

}

.containerTeam::after, .row::after {
content: "";
clear: both;
display: table;
}

.title {
color: #fff;
}

.button {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: #000;
background-color: #fff;
text-align: center;
cursor: pointer;
width: 100%;
border-radius: 7.5px;
}

.button:hover {
background-color: #ddd;
}



