@import "../styles/assets/variables";

.container {
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;
    box-shadow: $circleShadow;

}

.posts {
    list-style-type: none;
    margin: 0;
}

.post {
    margin: 1rem 0;
    

    a {
        background: $g-01-rev;
        color: #000;
        display: block;
        padding: 1rem 2.5rem;
        text-decoration: none;
        border-radius: 15px 50px;

        &:hover {
            background: $m-02;
        }
    }

    h2 {
        margin-bottom: 0;
    }

    p {
        color: #fff;
        font-size: .8rem;
        font-style: italic;
    }
}